<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href="{{ url_for('static', filename = 'css/main.css') }}" }>
  <title>Text Summarizer</title>
</head>

<body>
  <div id='side_text'>
    <h2>Text Summarizer</h2>
  </div>
  <div id=container>
    <label id='labeL_url'>Paste url of content below</label><br>
    <form>
      <input type='url' placeholder='https://en.wikipedia.org/wiki/Internet'><br>
      <button>Summarize</button><br>
    </form>
    <textarea></textarea>
  </div>
</body>

</html>