<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <meta name='description' content='Text Summarization Web Application'>
    <meta name='author' content='Mohit Kundu'>
    <link rel='stylesheet' href="{{ url_for('static', filename = 'css/main.css') }}" }>
    <title>Text Summarizer</title>
</head>

<body>
    <label class='heading' id='heading'>Text Summarizer</label>
    <div class='container'>
        <label class='paste_label'>Paste url of article below</label> <br>
        <form action='#' method='POST'>
            <input type='url' name='url' autocomplete='off' placeholder='https://en.wikipedia.org/wiki/Internet'> <br>
            <button name='summarize_btn' class='summarize_btn'>Summarize</button>
        </form> <br>
        <label class='summary_label'>Summary</label> <br>
        <label class='article_title'> {{ article_title }} {{reading_time}} </label> <br>
        <textarea> {{ summary }} </textarea>
    </div>
</body>
</html>